.server {
    display: grid;
    padding: 10px 20px;
    grid-template:
        "icn nam elp" auto
        "icn ipa ipa" auto
        / 60px auto 20px;
    gap: 6px 12px;
    border-radius: 18px;
    background: #333333;
    box-shadow: 6px 6px 12px #242424, -6px -6px 12px #424242;
    &:hover {
        box-shadow: 4px 4px 8px #242424, -4px -4px 8px #424242;
        cursor: pointer;
    }
    .icon {
        grid-area: icn;
        background-color: black;
        height: 60px;
        background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.freebiesupply.com%2Flogos%2Flarge%2F2x%2Fminecraft-1-logo-png-transparent.png&f=1&nofb=1");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .name {
        grid-area: nam;
    }
    .ip {
        grid-area: ipa;
        color: #888c;
    }
    .elipsis {
        grid-area: elp;
    }
}
