.serverBuilder {
    margin: 50px 200px;
    max-width: 750px;
    h1,
    h2 {
        font-weight: 400;
    }
    section {
        padding: 20px 0px;
    }
}

.optionTitle {
    font-size: 1.8em;
    font-weight: 600;
}
.whitelist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    .whitelistRow {
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
            outline: none !important;
            flex: 1;
            &:focus {
                border: 1px solid var(--primary);
            }
        }
        span {
            width: 50px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.configurations {
    display: flex;
    flex-direction: column;
    > label {
        margin-top: 16px;
        margin-bottom: 5px;
        font-weight: 500;
    }
}
